Repository TEAM-PLAYTOGETHER/Playtogether-Server-Spring, pull requests merged in 2022-07, with the labels that each got.

#4 [#3] Querydsl 세팅 변경 및 config 파일 추가
  build.gradle
  src/main/java/com/deploy/playtogether/config/querydsl/QuerydslConfig.java
Labels: enhancement, 🐱제준

#6 [#5] 도메인 정보 설정
  build.gradle
  src/main/java/com/deploy/playtogether/PlaytogetherApplication.java
  src/main/java/com/deploy/playtogether/common/model/EnumModel.java
  src/main/java/com/deploy/playtogether/common/model/EnumValue.java
  src/main/java/com/deploy/playtogether/common/util/EnumMapper.java
  src/main/java/com/deploy/playtogether/config/EnumMapperConfig.java
  src/main/java/com/deploy/playtogether/domain/common/AuditingTimeEntity.java
  src/main/java/com/deploy/playtogether/domain/crew/Crew.java
  src/main/java/com/deploy/playtogether/domain/crewUser/CrewUser.java
  src/main/java/com/deploy/playtogether/domain/hello/Hello.java
  src/main/java/com/deploy/playtogether/domain/light/Light.java
  src/main/java/com/deploy/playtogether/domain/light/LightCategory.java
  src/main/java/com/deploy/playtogether/domain/lightUser/LightUser.java
  src/main/java/com/deploy/playtogether/domain/scrap/Scrap.java
  src/main/java/com/deploy/playtogether/domain/scrap/ScrapStatus.java
  src/main/java/com/deploy/playtogether/domain/user/SocialInfo.java
  src/main/java/com/deploy/playtogether/domain/user/User.java
  src/main/java/com/deploy/playtogether/domain/user/UserSocialType.java
  src/test/java/com/deploy/playtogether/PlaytogetherApplicationTests.java
Labels: enhancement, 🐱제준, domain

#8 [#7] Room, Message 도메인 정보 설정
  src/main/java/com/deploy/playtogether/domain/message/Message.java
  src/main/java/com/deploy/playtogether/domain/room/Room.java
Labels: enhancement, domain, 🧐 동근

#10 [#9] Scrap, Crew 엔티티 수정
  src/main/java/com/deploy/playtogether/domain/crew/Crew.java
  src/main/java/com/deploy/playtogether/domain/scrap/Scrap.java
  src/main/java/com/deploy/playtogether/domain/scrap/ScrapStatus.java
Labels: 🐱제준, domain, fix

#13 [#12] 예외 처리를 위한 클래스, 로직 작성
  src/main/java/com/deploy/playtogether/common/dto/ApiResponse.java
  src/main/java/com/deploy/playtogether/common/exception/ErrorCode.java
  src/main/java/com/deploy/playtogether/common/exception/StatusCode.java
  src/main/java/com/deploy/playtogether/common/exception/SuccessCode.java
  src/main/java/com/deploy/playtogether/common/exception/model/BadGatewayException.java
  src/main/java/com/deploy/playtogether/common/exception/model/ConflictException.java
  src/main/java/com/deploy/playtogether/common/exception/model/NotFoundException.java
  src/main/java/com/deploy/playtogether/common/exception/model/PlaytogetherException.java
  src/main/java/com/deploy/playtogether/common/exception/model/UnAuthorizedException.java
  src/main/java/com/deploy/playtogether/common/exception/model/ValidationException.java
  src/main/java/com/deploy/playtogether/controller/advice/ControllerExceptionAdvice.java
  src/main/java/com/deploy/playtogether/controller/advice/WebDataBinderAdvice.java
Labels: enhancement, 🐱제준, exception

#15 Feat#14
  build.gradle
  docker-compose.yml
  src/main/java/com/deploy/playtogether/common/dto/ApiResponse.java
  src/main/java/com/deploy/playtogether/common/exception/ErrorCode.java
  src/main/java/com/deploy/playtogether/common/exception/SuccessCode.java
  src/main/java/com/deploy/playtogether/common/util/HttpHeaderUtils.java
  src/main/java/com/deploy/playtogether/config/session/RedisSessionConfig.java
  src/main/java/com/deploy/playtogether/config/session/SessionConstants.java
  src/main/java/com/deploy/playtogether/controller/auth/AuthController.java
  src/main/java/com/deploy/playtogether/controller/auth/dto/request/LoginRequestDto.java
  src/main/java/com/deploy/playtogether/controller/auth/dto/request/SignUpRequestDto.java
  src/main/java/com/deploy/playtogether/controller/auth/dto/response/LoginResponse.java
  src/main/java/com/deploy/playtogether/domain/user/User.java
  src/main/java/com/deploy/playtogether/domain/user/UserRepository.java
  src/main/java/com/deploy/playtogether/domain/user/repository/UserRepositoryCustom.java
  src/main/java/com/deploy/playtogether/domain/user/repository/UserRepositoryCustomImpl.java
  src/main/java/com/deploy/playtogether/external/client/apple/AppleAuthApiClient.java
  src/main/java/com/deploy/playtogether/external/client/apple/AppleTokenDecoder.java
  src/main/java/com/deploy/playtogether/external/client/apple/AppleTokenDecoderImpl.java
  src/main/java/com/deploy/playtogether/external/client/apple/dto/response/ApplePublicKeyResponse.java
  src/main/java/com/deploy/playtogether/external/client/google/GoogleAuthApiClient.java
  src/main/java/com/deploy/playtogether/external/client/google/dto/response/GoogleProfileInfoResponse.java
  src/main/java/com/deploy/playtogether/external/client/kakao/KaKaoAuthApiClient.java
  src/main/java/com/deploy/playtogether/external/client/kakao/dto/response/KaKaoProfileResponse.java
  src/main/java/com/deploy/playtogether/external/config/FeignClientConfig.java
  src/main/java/com/deploy/playtogether/service/auth/AuthService.java
  src/main/java/com/deploy/playtogether/service/auth/AuthServiceProvider.java
  src/main/java/com/deploy/playtogether/service/auth/dto/request/LoginDto.java
  src/main/java/com/deploy/playtogether/service/auth/dto/request/SignUpDto.java
  src/main/java/com/deploy/playtogether/service/auth/impl/AppleAuthService.java
  src/main/java/com/deploy/playtogether/service/auth/impl/GoogleAuthService.java
  src/main/java/com/deploy/playtogether/service/auth/impl/KaKaoAuthService.java
  src/main/java/com/deploy/playtogether/service/user/UserService.java
  src/main/java/com/deploy/playtogether/service/user/UserServiceUtils.java
  src/main/java/com/deploy/playtogether/service/user/dto/request/CreateUserDto.java
  src/main/resources/application-local.yml
  src/main/resources/messages/validation.properties
Labels: enhancement, 🐱제준, auth
